body {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}
button {
  border: none;
  outline: none;
  padding: 4px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 1px lightgrey;
  border-radius: 4px;
  color: white;
}

#header {
  padding: 11px;
  color: #000000;
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#000000;
}
#container {
  width: 775px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 0;
  border-bottom: 10px solid black;
  
}